@import "libraries/normalize";
@import "libraries/bourbon/bourbon";
@import "libraries/neat/neat";
@import "libraries/base/base";
@import "libraries/selectize";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

main {
	@include outer-container;
	background-color: $lightest-gray;
	min-height: calc(100vh - 98px);
}

section {
	margin-bottom: 20px;
	@extend .cf;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.home {
	padding-top: 100px;
	text-align: center;
	img {
		margin: 0 auto 20px;
		display: block;
	}
	h1 {
		font-size: 22px;
	}
}

.sidebar {
	width: 25%;
	float: left;
	height: calc(100vh - 98px);
	background-color: $light-gray;
	color: $white;
	&__top {
		background-color: $medium-gray;
		padding: 20px 15px;
	}
	&__bottom {
		
	}
	&__search {
		.sidebar__records-header p {
			@extend .icon-search;
			position: relative;
			padding-left: 20px;
			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
			}
		}
		&-field {
			padding: 0 15px;
			label {
				font-size: $font-size-smaller;
			}
			input {
				background-color: $lightest-gray;
				font-size: $font-size-smaller;
				border-radius: 3px;
			}
		}
	}
	&__content {
		padding: 20px 15px;
		button {
			background-color: $orange;
			width: 100%;
			text-align: left;
			position: relative;
			font-size: $font-size-small;
			margin-bottom: 10px;
			&:last-of-type {
				margin-bottom: 0;
			}
			&:hover, &:focus, &:active {
				background-color: shade($orange, 5%);
			}
		}
	}
	&__records-header {
		padding: 10px 15px;
		font-size: $font-size-small;
		font-weight: bold;
	}
	&__records {
		&-record {
			border-top: 1px solid lighten($medium-gray, 10%);
			color: $white;
			font-size: $font-size-smaller;
			padding: 5px 15px;
			position: relative;
			transition: background-color $base-duration $base-timing;
			&:last-of-type {
				border-bottom: 1px solid lighten($medium-gray, 10%);
			}
			a {
				font-weight: bold;
			}
			span {
				display: block;
			}
			&.active {
				background-color: $dark-gray;
			}
			&-edit {
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				right: 15px;
				a {
					display: none;
					float: left;
					width: 15px;
					height: 15px;
					border-radius: 2px;
					background-color: $lighter-gray;
					position: relative;
					font-size: 9px;
					margin-right: 2px;
					transition: background-color $base-duration $base-timing;
					cursor: pointer;
					&:last-of-type {
						margin: 0;
					}
					&:before {
						position: absolute;
						top: 49%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					&:hover {
						background-color: shade($lighter-gray, 20%);
					}
					&.icon-power {
						background-color: $green;
						&:hover {
							background-color: shade($green, 20%);
						}
						&.disabled {
							background-color: $orange;
							display: inline-block;
							&:hover {
								background-color: shade($orange, 20%);
							}
						}
					}
				}
			}
			&:hover {
				.sidebar__records-record-edit {
					a {
						display: inline-block;
					}
				}
			}
		}
	}
	&__create {
		background-color: $orange;
		width: 100%;
		text-align: left;
		position: relative;
		font-size: $font-size-small;
		@extend .icon-plus-thin;
		&:before {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translate(0, -50%);
		}
		&:hover, &:focus, &:active {
			background-color: shade($orange, 5%);
		}
	}
}

.main {
	width: 75%;
	float: left;
}
.content {
	padding: 20px 20px;
}

.breadcrumb {
	padding: 0 20px;
	height: 30px;
	font-size: $font-size-smaller;
	span {
		line-height: 30px;
	}
}

.header {
	background-color: $white;
	padding: 15px 20px;
	&__title {
		font-size: 22px;
		font-weight: $bold;
		margin: 0;
	}
	&__subtitle {
		font-size: $font-size-small;
		margin: 5px 0 0;
	}
}

header {
	.header {
		background-color: $dark-gray;
		color: $white;
		padding: 15px 0;
		width: 100%;
		&__inner {
			@include outer-container;
		}
		&__title {
			font-size: 24px;
			font-weight: normal;
			margin: 0;
		}
	}
	.subtitle {
		background-color: $orange;
		border: 5px solid $orange;
		&__inner {
			@include outer-container;
		}
		&__navigation {
			height: 30px;
			&-item {
				float: left;
				line-height: 30px;
				font-size: $font-size-small;
				padding: 0 30px;
				border-width: 0 1px 0 0;
				border-style: solid;
				border-color: lighten($orange, 10%);
				color: $white;
				position: relative;
				&:before {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: transparent;
					top: -5px;
					left: 0;
					transition: background-color $base-duration $base-timing;
				}
				&:hover {
					&:before {
						background-color: $white;
					}
				}
				span {
					position: relative;
					padding-left: 25px;
					&:before {
						font-size: 16px;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translate(0, -50%);
					}
				}
			}
			a {
				&:last-of-type {
					li {
						border: none;
					}
				}
			}
		}
	}
}

.form {
	@extend .cf;
	&__field {
		clear: both;
		label {
			@include span-columns(3);
			text-align: right;
			margin-bottom: 0;
		}
		input, textarea, select {
			@include span-columns(8);
			@include omega();
		}
		select {
			height: 33px;
			margin-bottom: 0.75em;
			&:not(:first-of-type) {
				@include shift(3);
			}
		}
		&--text {
			label {
				line-height: 33px;
			}
		}
		&--select {
			label {
				line-height: 36px;
			}
		}
		.selectize-input > input {
			float: none;
		}
		.selectize-control {
			@include span-columns(8);
		}
	}
	&__submit {
		@include span-columns(11);
		input {
			float: right;
		}
	}
	&__error {
		@include span-columns(8);
		@include shift(3);
		font-size: $font-size-smaller;
		font-style: italic;
		font-weight: $bold;
		margin-top: -5px;
		color: $orange;
	}
}

.relationships {
		@include span-columns(8);
		@include shift(3);
		border: 1px solid $lighter-gray;
		&__item {
			border-bottom: 1px solid $lighter-gray;
			@extend .cf;
			&:last-of-type {
				border-bottom: 0;
			}
			&-info {
				@include span-columns(6 of 8);
				font-size: $font-size-small;
				padding: 10px;
				span {
					color: $lighter-gray;
				}
			}
			&-edit {
				@include span-columns(2 of 8);
				@include omega();
				padding: 10px;
				background-color: $lightest-gray;
				border-left: 1px solid $lighter-gray;
				height: 100%;
				position: relative;
				height: 62px;
				&-buttons {
					@extend .sidebar__records-record-edit;
					transform: none;
					top: 10px;
					right: 10px;
					a {
						display: inline-block;
						color: $white;
						transform: none;
					}
				}
			}
		}
}

.data {
	background-color: $white;
	border-radius: 0 0 5px 5px;
	@extend .cf;
	&--no-header {
		border-radius: 5px;
	}
	&__subnav {
		height: 32px;
		margin-bottom: 20px;
		border-bottom: 1px solid $lighter-gray;
		&-item {
			float: left;
			line-height: 30px;
			padding: 0 15px;
			font-size: $font-size-small;
			border-radius: 5px 5px 0 0;
			border: 1px solid transparent;
			color: $lighter-gray;
			cursor: pointer;
			&.active {
				border: 1px solid $lighter-gray;
				border-bottom: 1px solid transparent;
				background-color: $white;
				color: $base-font-color;
			}
		}
	}
	&__header {
		background-color: $light-gray;
		color: $white;
		height: 35px;
		width: 100%;
		border-radius: 5px;
		padding: 0 15px 0 0;
		&-nav {

			&-item {
				float: left;
				line-height: 35px;
				padding: 0 15px;
				font-size: $font-size-small;
				border-left: 1px solid lighten($medium-gray, 10%);
				cursor: pointer;
				&:first-of-type {
					border-left: none;
					border-radius: 5px 0 0 5px;
				}
				&.active {
					background-color: $dark-gray;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						width: 0; 
						height: 0;
						margin: auto;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid $white;
					}
				}
			}
		}
	}
	&__main {
		padding: 20px;
	}
}

.lists {
	&__edit {
		@extend .sidebar__records-record-edit;
		a {
			background-color: $light-gray;
			&.icon-tick {
				display: none;
			}
		}
	}
	&__list {
		@include span-columns(8);
		@include omega();
		margin-bottom: 0.75em;
		&-item {
			background-color: $lighter-gray;
			color: $white;
			font-size: $font-size-small;
			padding: 6px 10px;
			margin-bottom: 1px;
			border-radius: 3px;
			position: relative;
			cursor: pointer;
			&:hover {
				.lists__edit a {
					display: inline-block;
					&.icon-tick {
						display: none;
					}
				}
			}
			input {
				position: absolute;
				left: 2px;
				top: 2px;
				height: 29px;
				display: none;
				padding-left: 7px;
				width: calc(100% - 80px);
				font-size: 14px;
			}
			&.active {
				input {
					display: block;
				}
				.lists__edit a {
					display: inline-block;
					&.icon-edit {
						display: none;
					}
					&.icon-tick {
						display: inline-block;
					}
				}
			}
		}
	}
	&__item-new {
		&-button {
			color: $lighter-gray;
			border: 2px solid $lighter-gray;
			border-radius: 50%;
			height: 33px;
			width: 33px;
			position: relative;
			display: inline-block;
			background-color: transparent;
			padding: 0;
			transition: all $base-duration $base-timing;
			outline: none !important;
			margin-left: 10px;
			@extend .icon-plus-thin;
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover, &:focus, &:active {
				background-color: transparent;
				border-color: shade($lighter-gray, 20%);
				color: shade($lighter-gray, 20%);
			}
		}
	}
}

.ui-sortable-placeholder {
	background-color: $lightest-gray;
	border: 2px dotted $medium-gray;
	margin-bottom: 1px;
	border-radius: 5px;
	visibility: visible;
}

.image-grid {
	@extend .cf;
	&__single {
		@include span-columns(12);
		border: 1px solid $lighter-gray;
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
		&-header {
			border-bottom: 1px solid $lighter-gray;
			background-color: $lightest-gray;
			padding: 5px 10px;
			position: relative;
			p {
				font-weight: $bold;
				font-size: $font-size-small;
				display: inline-block;
				margin-right: 10px;
			}
			span {
				font-size: $font-size-smaller;
				color: $lighter-gray;
			}
		}
		&-buttons {
			@extend .sidebar__records-record-edit;
			right: 10px;
			a {
				display: inline-block;
				color: $white;
			}
		}
		&-content {
			padding: 10px;
			@extend .cf;
			&-left {
				border-right: 1px solid $lighter-gray;
				@include span-columns(6 of 12);
				img {
					float: left;
				}
			}
			&-right {
				@include span-columns(6 of 12);
				@include omega();
			}
		}
		img {
			max-width: 100px;
		}
	}
}

// UPLOAD TUTORIAL

.upload {
	&__btn {
		color: #ffffff;
    	background-color: $orange;
	    @include span-columns(2);
	    @include shift(1);
	    padding: 8px 15px;
	    &:hover, &:focus, &:active {
	    	color: #ffffff;
		    background-color: shade($orange, 5%);
	    }
	}
	&__input {
		display: none;
	}
}

.progress {
	height: 30px;
    margin-bottom: 0.75em;
    overflow: hidden;
    background-color: $lightest-gray;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    @include span-columns(8);
    @include omega();
    &-bar {
    	float: left;
	    width: 0;
	    height: 100%;
	    font-size: $font-size-small;
	    line-height: 30px;
	    color: #fff;
	    text-align: center;
	    background-color: $orange;
	    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	    -webkit-transition: width .6s ease;
	    -o-transition: width .6s ease;
	    transition: width .6s ease;
    }
}