<header>
	<div class="header">
		<div class="header__inner">
			<h1 class="header__title">Qi - Keepthinking</h1>
		</div>
	</div>
	<div class="subtitle">
		<div class="subtitle__inner">
			<ul class="subtitle__navigation">
				<a href="#0"><li class="subtitle__navigation-item"><span class="icon-graph">Dashboard</span></li></a>
				<a ui-sref="content"><li class="subtitle__navigation-item"><span class="icon-plus">Content</span></li></a>
				<a ui-sref="lists"><li class="subtitle__navigation-item"><span class="icon-list">Lists</span></li></a>
				<a href="#0"><li class="subtitle__navigation-item"><span class="icon-multimedia">Media</span></li></a>
				<a href="#0"><li class="subtitle__navigation-item"><span class="icon-review">Review</span></li></a>
				<a href="#0"><li class="subtitle__navigation-item"><span class="icon-user">Users</span></li></a>
				<a href="#0"><li class="subtitle__navigation-item"><span class="icon-group">Teams</span></li></a>
				<a href="#0"><li class="subtitle__navigation-item"><span class="icon-configure">Configure</span></li></a>
			</ul>
		</div>
	</div>
</header>