<div class="data data--no-header">
    <div class="data__main">
	<h1>Create a new exhibition</h1>
        <form id="newExhibition" class="form" ng-submit="exhibitions.createExhibition()">
            <div class="form__field">
                <label>Title</label>
                <input type="text" name="title" ng-model="exhibitions.newExhibition.title">
            </div>
            <div class="form__field">
                <label>Opening Date</label>
                <input type="date" name="openingDate" ng-model="exhibitions.newExhibition.openingDate">
            </div>
            <div class="form__field">
                <label>Closing Date</label>
                <input type="date" name="closingDate" ng-model="exhibitions.newExhibition.closingDate">
            </div>
            <div class="form__submit">
                <input type="submit" value="Create Exhibition">
            </div>
        </form>
    </div>
</div>